body {
  margin: 0;
  overflow: hidden;
}

.layout-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px; /* Height of the AppBar */
}

@media (max-width: 600px) {
  .layout-container {
    padding-top: 56px; /* Height of the AppBar on mobile */
  }
}

.background-image-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("src/assets/fondo.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
