:root {
  --background-light: #ffffff;
  --text-light: #000000;
  --background-dark: #121212;
  --text-dark: #ffffff;
}

body {
  background-color: var(--background-light);
  color: var(--text-light);
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.dark .MuiPaper-root {
  background-color: #1e1e1e;
  color: var(--text-dark);
}

.dark .MuiAppBar-root {
  background-color: #272727;
}

.dark .MuiCard-root {
  background-color: #1e1e1e;
}